.event-wrapper {
  max-width: 900px;
  margin: 80px auto;
  background: #fff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.07);
}

#event-title {
  font-size: 2rem;
  color: var(--color-1);
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
}

#event-title::after {
  content: '';
  display: block;
  width: 60%;
  height: 2px;
  background-color: var(--color-1);
  margin-top: 10px;
}

#event-image {
  width: 100%;
  height: 450px;
  object-fit: contain;
  display: block;
  margin: 0 auto 30px;
  border-radius: 12px;
}

#event-content, #event-content-p, #event-content-a {
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: justify;
  padding: 0 10px;
  color: #333;
}

#event-content{
  margin-top: 50px;
}

#event-content-a{
  color: var(--color-1);
  text-decoration: underline;
}

/* not found message */
#not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#not-found i {
  color: var(--color-1);
  font-size: 4em;
}

.not-found-container h1 {
  margin: 50px;
  font-weight: 900;
  font-size: 5em;
  color: var(--color-1);
}

.not-found-container p {
  font-size: 2em;
  margin: 20px;
  text-align: center;
  color: var(--color-1);
  font-weight: bold;
}


/* Optional back button */
.back-btn {
  display: inline-block;
  margin-top: 35px;
  padding: 12px 24px;
  background: #003c7a;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.back-btn:hover {
  background: #005ec9;
}


/* event button */
.event-button a button{
  margin-top: 50px;
  width: 15vh;
  height: 40px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  background-color: var(--color-1);
  border: none;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.event-button a button:hover {
  background-color: var(--color-2);
  color: var(--color-1);
  box-shadow: 4px 4px var(--color-1);
}