* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --color-1: #022d58;
  --color-2: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(135deg, transparent 0%, transparent 6%,rgba(71, 71, 71,0.04) 6%, rgba(71, 71, 71,0.04) 22%,transparent 22%, transparent 100%),linear-gradient(45deg, transparent 0%, transparent 20%,rgba(71, 71, 71,0.04) 20%, rgba(71, 71, 71,0.04) 47%,transparent 47%, transparent 100%),linear-gradient(135deg, transparent 0%, transparent 24%,rgba(71, 71, 71,0.04) 24%, rgba(71, 71, 71,0.04) 62%,transparent 62%, transparent 100%),linear-gradient(45deg, transparent 0%, transparent 73%,rgba(71, 71, 71,0.04) 73%, rgba(71, 71, 71,0.04) 75%,transparent 75%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  padding: 20px;
  text-align: center;
  flex: 1;
}

/* join section */

main {
  flex: 1;
}

#join-section {
  padding: 20px 20px;
  margin-top: 7em;
  margin-bottom: 50px;
  text-align: center;
}

#join-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.membership-card {
  width: 800px;
  background-color: #f4f4f4;
  padding: 60px 20px;
  border: 3px solid var(--color-1);
  border-radius: 5px;
}

.membership-card h2 {
  color: var(--color-1);
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
}

.membership-card p {
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: bold;
}

.membership-card button {
  color: var(--color-2);
  background-color: var(--color-1);
  width: 15em;
  height: 4em;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
}

.membership-card button:hover{
  background-color: var(--color-2);
  color: var(--color-1);
  box-shadow: 4px 4px var(--color-1);
}


/* Responsive design */

@media (max-width: 768px) {

  #join-section {
    margin-top: 70px;
  }
}

