* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-1: #022d58;
  --color-2: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(
      135deg,
      transparent 0%,
      transparent 6%,
      rgba(71, 71, 71, 0.04) 6%,
      rgba(71, 71, 71, 0.04) 22%,
      transparent 22%,
      transparent 100%
    ),
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 20%,
      rgba(71, 71, 71, 0.04) 20%,
      rgba(71, 71, 71, 0.04) 47%,
      transparent 47%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 24%,
      rgba(71, 71, 71, 0.04) 24%,
      rgba(71, 71, 71, 0.04) 62%,
      transparent 62%,
      transparent 100%
    ),
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 73%,
      rgba(71, 71, 71, 0.04) 73%,
      rgba(71, 71, 71, 0.04) 75%,
      transparent 75%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: 2px;
}

#not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#not-found i {
  color: var(--color-1);
  font-size: 4em;
}

.not-found-container h1 {
  margin: 50px;
  font-weight: 900;
  font-size: 5em;
  color: var(--color-1);
}

.not-found-container p {
  font-size: 2em;
  margin: 20px;
  text-align: center;
  color: var(--color-1);
  font-weight: bold;
}

/* HOME CONTENT */
#EVENTS {
  padding: 40px;
  margin: 7em 10em 50px 10em;
  min-height: 100vh;
  box-sizing: border-box;
}

.events-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.event {
  width: 30%;
  box-sizing: border-box;
}

.event h2 {
  font-size: 1.5rem;
  text-align: left;
  color: #022d58;
  display: inline-block;
  position: relative;
}

.event h2::after {
  content: '';
  display: block;
  width: 60%;
  height: 2px;
  background-color: var(--color-1);
  margin-top: 10px;
}

.event-image-wrapper {
  margin-top: 30px;
  background-color: white;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.event-image-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* reponsive screen */

@media (max-width: 480px) {

  #EVENTS {
    margin: 5em 2em 50px 2em;
    padding: 20px;
  }

  .event {
    width: 100%;
  }

  .event-image-wrapper {
    padding: 15px;
  }
}
