* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --color-1: #022d58;
  --color-2: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("images/background design.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: 2px;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background-image: url("images/background design.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header .logo img {
  max-width: 80px;
}

nav {
  position: relative;
}

.barsforresp {
  width: 90px;
  justify-content: center;
  display: flex;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  height: 4px;
  width: 30px;
  background-color: var(--color-1);
  margin: 3px 0px;
  transition: all 0.3s ease;
}

.menu-toggle.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -9px);
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin-left: 60px;
}

.nav-list li a {
  color: var(--color-1);
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
}

.nav-list li a.active {
  border-radius: 5px;
  color: var(--color-2);
  background-color: var(--color-1);
  padding: 20px 50px;
}

/* join section */

main {
  flex: 1;
}

#join-section {
  padding: 100px 20px;
  margin-top: 120px;
  margin-bottom: 50px;
  text-align: center;
}

#join-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.membership-card {
  width: 800px;
  background-color: var(--color-2);
  padding: 50px;
  border: 3px solid var(--color-1);
  border-radius: 5px;
}

.membership-card h2 {
  color: var(--color-1);
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 40px;
}

.membership-card p {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.membership-card button {
  color: var(--color-2);
  background-color: var(--color-1);
  padding: 20px 40px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.membership-card button a{
  color: var(--color-2);
}

/* footer */

footer {
  background-color: var(--color-1);
  color: var(--color-2);
  padding: 50px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: auto;
}

footer nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 0 20px;
}

footer nav ul li {
  margin: 0 15px;
}

footer nav ul li a {
  color: var(--color-2);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

footer nav ul li a:hover {
  color: #fff;
}

.social-media {
  margin: 20px 0;
}

.social-media a {
  color: var(--color-2);
  margin: 0 10px;
  font-size: 20px;
  transition: color 0.3s;
}

.social-media a:hover {
  color: #fff;
}

footer p {
  margin: 5px 0;
}

















/* Responsive design */

@media (max-width: 768px) {
  /* header */

  .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .nav-list {
    background-color: var(--color-1);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    width: 175px;
  }

  .nav-list li {
    margin: 40px 0;
  }

  .nav-list li a {
    color: var(--color-1);
    text-decoration: none;
  }

  .nav-list li a.active {
    color: var(--color-2);
    background-color: var(--color-1);
    border-radius: 5px;
    padding: 15px 20px;
  }

  .nav-list.show {
    width: 150px;
    opacity: 1;
    visibility: visible;
  }

  /* footer section */
  footer p {
    font-size: 12px;
  }

  footer nav ul {
    flex-direction: column;
  }

  footer nav ul li {
    margin: 10px 0;
  }

  /* join section */

  #join-section {
    margin-top: 50px;
  }
}

#preloader {
  background: url("images/background design.png") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#preloader img {
  height: 50%;
}

#preloader.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

@media only screen and (max-width: 768px) {
  #preloader {
    height: 130vh;
  }
}
