:root {
  --color-1: #022d58;
  --color-2: #ffffff;
}

/* header */

header {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 99;
  background-image: url('images/background design.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-name img {
  cursor: pointer;
  width: 15%;
}

.header-name a:hover {
  color: var(--hover-color);
}

header nav ul{
  display: flex;
  flex-direction: row;
}

header nav ul li{
  padding: 10px 20px;
  display: flex;
  font-size: 0.7em;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

header nav ul li a{
  font-weight: bold;
  color: var(--color-1);
  text-decoration: none;
  font-size: 1.5em;
  padding: 10px 20px;
  border-radius: 5px;
}

header nav ul li a:hover{
  color: var(--color-2);
  background-color: var(--color-1);
  transition: all 0.3s ease-in-out;
}

.menu-checkbox {
  display: none;
}
















@media only screen and (max-width: 768px) {
  header {
    height: 60px;
    padding: 0 20px;
  }

  header nav ul{
    flex-direction: column;
  }
  
  header nav ul li{
    padding: 20px 0px;
    text-align: center;
    background-color: transparent;
    color: var(--color1);
  }

  header nav {
    position: absolute;
    background-color: var(--color-2);
    right: 0;
    top: 0;
    width: 70%;
    height: 100vh;
    padding-top: 10em;
    transform: translateX(100%);
    transition: transform 0.6s ease;
  }
  
  .menu-checkbox:checked ~ nav {
    transform: translateX(0);
  }

  .menu-checkbox:checked ~ .ALLSCREEN{
    display: flex;
  }
  
  .menu-checkbox:checked + .menu-toggle div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .menu-checkbox:checked + .menu-toggle div:nth-child(2) {
    opacity: 0;
  }
  
  .menu-checkbox:checked + .menu-toggle div:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -7px);
  }
  
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40px;
    height: 20px;
    cursor: pointer;
    z-index: 3;
  }
  
  .menu-toggle div {
    background-color: var(--color-1);
    height: 4px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .ALLSCREEN{
    display: none;
    position:absolute;
    right: 0;
    top: 0;
    background: transparent;
    width: 100%;
    height: 100vh;
    transition: transform 0.6s ease;
  }
}






/* preloader */

#preloader {
background: url('images/background design.png') no-repeat center center;
background-size: cover;
height: 100vh;
width: 100%;
position: fixed;
z-index: 100;
display: flex;
justify-content: center;
align-items: center;
}

#preloader img {
height: 50%;
max-width: 100%;
object-fit: contain;
}

#preloader.fade-out {
opacity: 0;
visibility: hidden;
transition: opacity 0.5s ease, visibility 0.5s ease;
}

@media only screen and (max-width: 768px) {
#preloader {
  height: 100vh;
}
}
